.homePage {
  max-width: 1100px;
  margin: 8rem auto 0;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;
  text-align: center;
}

/* image */

.heroImage {
  width: 90%;
  height: auto;
  object-fit: cover;
}

/* description */

.heroDescription {
  margin: -1rem 0;
  max-width: 90%;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text);
  text-align: justify;
}
